<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.5.0/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.5.0/dist/semantic.min.js"></script>

    <title>Todo</title>
</head>

<body>
    <div style="margin-top: 50px;" class="ui container">
        <h1 class="ui center aligned header"> Todo App </h1>

        <form class="ui form" action="/add" method="POST">

            <div class="field">
                <label for="title">Todo Title</label>
                <input type="text" name="title" id="title" placeholder="Enter Todo's">
                <br>
                <br>
                <button class="ui primary button" type="submit">Add</button>

            </div>
        </form>

        <div class="ui segment">
        {% for todo in context %}

            <p class="ui big header">{{todo.id}} | {{todo.title}}</p>

            {% if todo.complete == False%}
            <span class="ui grey label">Not Complete</span>
            {% else %}
            <span class="ui green label">Completed</span>
            {% endif %}

            <a class="ui blue button" href="/edit/{{todo.id}}">Edit</a>
            <a class="ui red button" href="/delete/{{todo.id}}">Delete</a>
            {%endfor %}

        </div>
    </div>
</body>

</html>